/*
Color Palettes

Elegant Yet Approachable
#EDC7B7
#EEE2DC
#BAB2B5
#123C69
#AC3B61

Minimal Yet Warm
#EAE7DC
#D8C3A5
#8E8D8A
#E98074
#E85A4F

Vibrant and Elegant
#F8E9A1
#F76C6C
#A8D0E6
#374785
#24305E
*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
    background-color: #8E8D8A;
}

/* Back to Top Button */
#back2top-btn {
    padding: 10px;
    display: none;
    position: fixed;
    z-index: 100;
    bottom: 20px;
    right: 20px;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #E98074;
    background-color: #24305E;
    cursor: pointer;
}

#back2top-btn:hover {
    color: #AC3B61;
}

/* Add New Button */
#add-new-btn {
    padding: 10px;
    position: fixed;
    z-index: 100;
    bottom: 20px;
    left: 20px;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    color: #A8D0E6;
    background-color: #55ACEE;
    cursor: pointer;
}

#add-new-btn:hover {
    color: #123C69;
}

/* Navigation Bar */
.nav-bar {
   height: 225px;
   width: auto;
   background-color: #EAE7DC;
   display: flex;
   align-content: center;
   justify-content: space-between;
   align-items: center;
}

.logo {
    margin: 12.5px;
    padding-left: 100px;
    height: 200px;
    width: 212.5px;
}

.name {
    font-size: 45px;
    font-weight: 1000;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 10px;
    color: #24305E;
    display: none;
}

.nav-btn-container {
    padding-right: 50px;
    height: 225px;
    width: 850px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-btn-container button {
    padding: 99px 20px;
    font-size: 22px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: #24305E;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-btn-container span {
    display: none;
}

.nav-btn-container button:hover {
    animation-name: color-change-navbar;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.nav-btn-container button:hover span {
    display: block;
}

@keyframes color-change-navbar {
    from {
        color: #24305E;
        background-color: #EAE7DC;
    }
    to {
        color: #EAE7DC;
        background-color: #24305E;
    }
}

/* Dropdown Login Menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: inherit;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(167, 37, 37, 0.2);
    padding: 12px 16px;
    top: 225px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    font-size: 20=px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    text-align: center;
    right: 0px;
}

/* Curved Bottom Background */
.curve-background {
    top: -50px;
    width: 1520px;
    display: flex;
    position: absolute;
    opacity: 0.5;
    border-radius: 0% 0% 100% 100%;
    z-index: -5;
}

/* Title Quote */
h1 {
    font-size: 80px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    color: #AC3B61;
}

/* Seacrh Bar */
.search-bar {
    margin: 400px 50px 75px 50px;
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-bar input {
    padding: 10px;
    width: 25%;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 25px;
    border: none;
    transition: width 1.75s;
    transition-timing-function: ease-out;
}

.search-bar button {
    padding: 5px 10px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #24305E;
    background-color: #EAE7DC;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.search-bar input:focus {
    animation-name: color-fill;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-color: transparent;
    width: 60%;
}

@keyframes color-fill {
    from {
        background-color: #ffffff;
    }
    to {
        background-color: #A8D0E6;
    }
}

/* Content Flexboxes */
.content-flexbox-container {
    margin: 50px;
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.content-card {
    margin: 25px;
    padding: 25px;
    height: auto;
    width: 350px;
    background-color: #EEE2DC;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
}

.content-imagebox {
    height: auto;
    width: 350px;
    display: flex;
    justify-content: center;
}

.content-imagebox img {
    max-width: 100%;
    border-radius: 10px;
}

.content-descriptionbox {
    height: auto;
    width: 350px;
    display: none;
    align-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.content-descriptionbox h1 {
    display: none;
}

.content-descriptionbox h2 {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.content-descriptionbox h6 {
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.5px;
}

.content-descriptionbox p {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
}

.content-descriptionbox form input[type=submit] {
    margin-top: 15px;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
    color: #EAE7DC;
    background-color: #24305E;
    border: none;
    cursor: pointer;
    animation-name: color-change-pdbb;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes color-change-pdbb {
    from {
        box-shadow: transparent;
    }
    to {
        box-shadow: 5px 5px #374785, -5px -5px #A8D0E6;
    }
}

.content-card:hover .content-descriptionbox {
    display: flex;
}

.content-descriptionbox form input[type=number] {
    padding: 10px;
    font-size: 20px;
}

.content-descriptionbox form input[type=number]:focus {
    animation-name: color-fill;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-color: transparent;
}

@keyframes color-fill {
    from {
        background-color: #ffffff;
    }
    to {
        background-color: #A8D0E6;
    }
}

/* Footer */
footer {
    margin: 0px;
    width: auto;
    height: auto;
    background-color:#EDC7B7;
}

.footer-flexbox {
    margin: 25px;
    padding: 25px;
    height: auto;
    width: auto;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: row;
}

.footer-flexbox-item {
    margin: 10px;
    padding: 10px;
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}

h3 {
    font-family:'Montserrat', sans-serif;
    font-weight:bold;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul a:visited, a:link {
    text-decoration: none;
}

li i {
    margin: 10px;
    padding-right: 5px;
}

.media a {
    margin: 10px;
}

.fa {
    padding:20px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.75;
    cursor:pointer;
}

.fa-facebook {
    background: linear-gradient(#3B5998, #2c59bb);
    color: white;
}

.fa-instagram {
    background: radial-gradient(at bottom left, #fccc63, #fbad50, #e95950, #e95950, #cd486b, #bc2a8d, #8a3ab9, #4c68d7);
    color: white;
}

.fa-twitter {
    background: linear-gradient(#55ACEE, #6db7f0);
    color: white;
}

#copyright {
    margin-bottom: 0;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #E85A4F;
}
