/*
Color Palettes

Elegant Yet Approachable
#EDC7B7
#EEE2DC
#BAB2B5
#123C69
#AC3B61

Minimal Yet Warm
#EAE7DC
#D8C3A5
#8E8D8A
#E98074
#E85A4F

Vibrant and Elegant
#F8E9A1
#F76C6C
#A8D0E6
#374785
#24305E
*/

html {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

.logocontainer {
  background-image: url("/art/banner.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  padding: 30px;
  text-align: center;
  /*position: absolute;
  top: 10%;*/
}


.bodycontent {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
.navtext {
  letter-spacing: 2px;
  font-size: 23px;
  color: #f2f2f2;
  z-index: 10; /*wasnt here*/
  }
  
  #wrapper{
    width:900px;
    margin:0 auto;
  }
  .navbar {
    overflow: visible;
    background-color:#24305E;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    z-index: 10; /*wasnt here*/
    }
.ourstory {
  background-image: url("/art/ourstory.png");
  height: 450px;
  width: 100%;
  border-radius: 25px;
}
.whatwedo {
  background-image: url("/art/banner2.png");
  height: fit-content;
  width: 100%;
  
}
#logincontainer {
  width:950px;
  height:525px;
  background-color:hsla(4,0%,100%,0.3);
  border-radius:25px;
  padding:15px;
}

/*searchbar*/
.navbar a.active {
  color: #88b4cc;
}
.navbar  a:hover {
  background-color: #24305E;
  color: rgb(255, 255, 255);
  display: flexbox;

}

#sectiontitle {
  width:400px;
  height:50px;
  background-color:#E98074;
  border-radius:5px;
  padding:15px;
}
#descbg {
  width:auto;
  height:425px;
  background-color:#BAB2B5;
  padding:15px;
  position: relative;
}
.aboutus {
  color: #E98074;
  text-decoration: underline;
  font-size: 30px;

}
.iconformat {
  color: white; 
  font-size: 100px;
  text-align: center;;

}
.abouttextformat {
  color: #4694a5;
  font-size: 23px;
  text-align: center;;
  text-decoration: underline;
  font-weight: bold;
}
.aboutdescformat{
  color: rgb(121, 128, 228);
  font-size: 18px;
  text-align: center;
}
.aboutdesctxt {
  color: #EEE2DC;
  font-size: 18px;
  text-align: center;
}
/*slideshow*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position:absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.navrow::after {
  content: "";
  margin: 0;
  padding: 0;
  display: inline;  
}
/*line tables side by side*/
/* Create a two-column layout */
.tablecolumn {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.tablerow::after {
  content: "";
  clear: both;
  display: table;
}
/*to top button*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 25px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #fff0a4; /* Set a background color */
  color: #88b4cc; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 20px; /* Increase font size */
}

#myBtn:hover {
  background-color: rgb(100, 92, 92); /* Add a dark-grey background on hover */
}
/**/
* {
  box-sizing: border-box;
}

.tablerow {
  margin-left:-5px;
  margin-right:-5px;
}
  
.tablecolumn {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.tablerow::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}
/*contact container*/
#contact1 {
  width:60%;
  height:510px;
  background-color:#E85A4F  ;
  padding:15px;
  float: left;
  border-radius: 15px;
  z-index: 10;
}
.contactalign {
  text-align: left;
  font-size: 125%;
}
#contact2 {
  width:40%;
  height:510px;
  background-color:#374785;
  padding:15px;
  float: right;
  border-radius: 15px;
  z-index: 10;
}
a {
  color: white;
  text-decoration: none;
}
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
.dropdown {
  position: relative; /*was relative*/
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#070d24;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 10;
}

.dropdown:hover .dropdown-content {
  font-size: 23px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  text-align: center;
  z-index: 10; /*wasnt here*/
}
/*EK Footer*/
/*footer*/
footer {
  margin: 0px;
  width: auto;
  height: auto;
  background-color:#EDC7B7;
}

.footer-flexbox {
  margin: 25px;
  padding: 25px;
  height: auto;
  width: auto;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  flex-direction: row;
}

.footer-flexbox-item {
  margin: 10px;
  padding: 10px;
  height: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}

h3 {
  font-family:'Montserrat', sans-serif;
  font-weight:bold;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul a:visited, a:link {
  text-decoration: none;
}

li i {
  margin: 10px;
  padding-right: 5px;
}

.media a {
  margin: 10px;
}

.fa {
  padding:20px;
  font-size: 25px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.75;
  cursor:pointer;
}

.fa-facebook {
  background: linear-gradient(#3B5998, #2c59bb);
  color: white;
}

.fa-instagram {
  background: radial-gradient(at bottom left, #fccc63, #fbad50, #e95950, #e95950, #cd486b, #bc2a8d, #8a3ab9, #4c68d7);
  color: white;
}

.fa-twitter {
  background: linear-gradient(#55ACEE, #6db7f0);
  color: white;
}

#copyright {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #E85A4F;
}

/*accountEdit page*/
.manage-account{
background-color:inherit;
}

.accountEdit{
margin:0 auto;
margin-left:150px;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.tab-container{
float:left;
width:25%;
background-color: #F76C6C;
height:500px;
border-top-left-radius: 15px;
border-bottom-left-radius:15px;
box-shadow: 0px 8px 3px -3.5px rgba(0, 0, 0, 0.15);
}

.change-pfp p{
color:white;
text-align:center;
cursor:pointer;
}
.change-pfp p:hover{
text-decoration: underline;
}

#account-profile-picture{
display: block;
margin-top:30px;
margin-left: auto;
margin-right: auto;
border-radius: 50%;
height:80px;
width:80px;
}

.tab{
color:white;
width:100%;
height:50px;
cursor:pointer;
text-align:center;
padding-top:10px;

}

.tab:hover{
background-color: #f88f8f;
}

.tab .active{
background-color: white;
color:#F76C6C;
}

.content{
float:left;
background-image: url('art/white_texture.png');
width:60%;
padding:0 30px;    
height:500px; 
border-bottom-right-radius:15px; 
border-top-right-radius: 15px;
box-shadow: 2.5px 2.5px 3px rgba(0, 0, 0, 0.15);
display:flex;
flex-direction: row;
justify-items: center;
align-items:center;
justify-content: space-between;
}

.content>div{
width:100%;
}

.content input[type=text], .content input[type=number]{
width: 80%;
border: none;
background-color:transparent ;
border-bottom: 2px solid #8E8D8A;
padding:5px;
margin-top: 10px;
margin-bottom: 10px;
}

.content textarea{
font-family: "Rubik",sans-serif;
width: 80%;
height:80px;
border: none;
background-color:transparent ;
border-bottom: 2px solid #8E8D8A;
padding:5px;
margin-top: 10px;
margin-bottom: 10px;
}


.content input[type=submit]{
background-color: #E85A4F;
color:#EAE7DC;
width:50%;
border-radius:5px;
border:none;
padding:10px;
cursor:pointer;
}

.content input[type=submit]:hover{
opacity: 0.8;
}

#bank-card-form{
display:none;
}
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
.aboutdesctxtcont {
  background-color: #c2e3f5;
  height: 120px;
  width: fit-content;
  block-size: fit-content;
  border-radius: 15px;
  padding: 1%;
}
/*hover over for text *red box slide down as you hover**/
.hovercont {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  border: 3px solid rgb(212, 75, 75);
  padding: 10px;
}

.hoverlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  /*background-color: #E98074;*/
  background-image: linear-gradient(#e98074, #cf4a3b, #b64149);
  overflow: hidden;
  width: 350px;
  height:0;
  transition: .7s ease-in-out;
  z-index: 15;
}

.hovercont:hover .hoverlay {
  bottom: 0;
  height: 100%;
}

.overlaytext {
  color: #FFFFFF;
  font-size: 23px;
  position: absolute;
  top: 10%;
  left: 40%;
  text-align: center;
  padding-right: 50px;
}