/*
Color Palettes

Elegant Yet Approachable
#EDC7B7
#EEE2DC
#BAB2B5
#123C69
#AC3B61

Minimal Yet Warm
#EAE7DC
#D8C3A5
#8E8D8A
#E98074
#E85A4F

Vibrant and Elegant
#F8E9A1
#F76C6C
#A8D0E6
#374785
#24305E
*/

* {
  box-sizing: border-box
}

html {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

img {
  vertical-align: middle;
}

.logocontainer {
  background-image: url("../art/banner.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  padding: 30px;
  text-align: center;
  /* position: absolute;
  top: 10%; */
}

.bodycontent {
  padding: 16px;
}

/* Back to Top Button */
#back2top-btn {
  padding: 10px;
  display: none;
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 20px;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #E98074;
  background-color: #24305E;
  cursor: pointer;
}

#back2top-btn:hover {
  color: #AC3B61;
}

/* Navigation Bar */
.nav-bar {
 height: 225px;
 width: auto;
 background-color: #BAB2B5;
 display: flex;
 align-content: center;
 justify-content: space-between;
 align-items: center;
}

.logo {
  margin: 12.5px;
  padding-left: 100px;
  height: 200px;
  width: 212.5px;
}

.name {
  font-size: 45px;
  font-weight: 1000;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 10px;
  color: #24305E;
  display: none;
}

.nav-btn-container {
  padding-right: 50px;
  height: 225px;
  width: 850px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-btn-container button {
  padding: 99px 20px;
  font-size: 22px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  color: #24305E;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-btn-container span {
  display: none;
}

.nav-btn-container button:hover {
  animation-name: color-change-navbar;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.nav-btn-container button:hover span {
  display: block;
}

@keyframes color-change-navbar {
  from {
      color: #24305E;
      background-color: #EAE7DC;
  }
  to {
      color: #EAE7DC;
      background-color: #24305E;
  }
}

/* Dropdown Login Menu */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: inherit;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(167, 37, 37, 0.2);
  padding: 12px 16px;
  top: 225px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  font-size: 20=px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  text-align: center;
  right: 0px;
}

/* Content Containers */
.ourstory {
  background-image: url("../art/ourstory.png");
  height: 450px;
  width: 100%;
  border-radius: 25px;
}

.whatwedo {
  background-image: url("../art/banner2.png");
  height: fit-content;
  width: 100%;
}

#sectiontitle {
  width:400px;
  height:50px;
  background-color:#E98074;
  border-radius:5px;
  padding:15px;
}

.descbg {
  width:100%;
  height:425px;
  background-color:#BAB2B5;
  padding:15px;
  position: relative;
}

.aboutus {
  color: #E98074;
  text-decoration: underline;
  font-size: 30px;
}

.iconformat {
  color: white; 
  font-size: 100px;
  text-align: center;;
}

.abouttextformat {
  color: #4694a5;
  font-size: 23px;
  text-align: center;;
  text-decoration: underline;
  font-weight: bold;
}

.aboutdescformat{
  color: rgb(121, 128, 228);
  font-size: 18px;
  text-align: center;
}

.aboutdesctxt {
  color: #EEE2DC;
  font-size: 18px;
  text-align: center;
}

/* Container for slides */
.bannerslides {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flex;
  align-content: center;
  justify-content: center;
}

/* Buttons to navigate between slides */
.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(75, 67, 67);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(75, 67, 67);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* Slide Number Indicator */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fade animation for slides*/
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
}

/* How page will scale when screen size iw smaller than 300px */
@media only screen and (max-width: 300px) {
  .back, .next, .text {
    font-size: 11px;
  }
}

/*To align some text side by side*/
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Contact Container */
#contact1 {
  width:60%;
  height:510px;
  background-color:#E85A4F  ;
  padding:15px;
  float: left;
  border-radius: 15px;
  z-index: 10;
}

.contactalign {
  text-align: left;
  font-size: 125%;
}

#contact2 {
  width:40%;
  height:510px;
  background-color:#374785;
  padding:15px;
  float: right;
  border-radius: 15px;
  z-index: 10;
}

a {
  color: white;
  text-decoration: none;
}

.aboutdesctxtcont {
  background-color: #c2e3f5;
  height: 120px;
  width: fit-content;
  block-size: fit-content;
  border-radius: 15px;
  padding: 1%;
}

/* Hover over for text * red box slides down as you hover * */
.hovercont {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 3px solid rgb(212, 75, 75);
  padding: 10px;
}

.hoverlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  /* background-color: #E98074; */
  background-image: linear-gradient(#e98074, #cf4a3b, #b64149);
  overflow: hidden;
  width: 350px;
  height:0;
  transition: .7s ease-in-out;
  z-index: 15;
}

.hovercont:hover .hoverlay {
  bottom: 0;
  height: 100%;
}

.overlaytext {
  color: #FFFFFF;
  font-size: 23px;
  position: absolute;
  top: 10%;
  left: 40%;
  text-align: center;
  padding-right: 50px;
  cursor: pointer;
}

/* Submit Overlay */
#overlay {
  position: fixed;
  display: none;
  width: 50%;
  height: 40%;
  top: 20%;
  left: 25%;
  right: 0;
  bottom: 0;
  background-color: #F8E9A1;
  z-index: 2;
}

.contactformtext {
  color: #76a5be;
  font-size: 30px;
  padding-top: 10%;
}

.exitcontactform {
  color: #F76C6C; 
  font-size: 30px;
  padding-left: 95%;
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

/* Footer */
footer {
  margin: 0px;
  width: auto;
  height: auto;
  background-color:#EDC7B7;
}

.footer-flexbox {
  margin: 25px;
  padding: 25px;
  height: auto;
  width: auto;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  flex-direction: row;
}

.footer-flexbox-item {
  margin: 10px;
  padding: 10px;
  height: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}

h3 {
  font-family:'Montserrat', sans-serif;
  font-weight:bold;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul a:visited, a:link {
  text-decoration: none;
}

li i {
  margin: 10px;
  padding-right: 5px;
}

.media a {
  margin: 10px;
}

.fa {
  padding:20px;
  font-size: 25px;
  width: auto;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.75;
  cursor:pointer;
}

.fa-facebook {
  background: linear-gradient(#3B5998, #2c59bb);
  color: white;
}

.fa-instagram {
  background: radial-gradient(at bottom left, #fccc63, #fbad50, #e95950, #e95950, #cd486b, #bc2a8d, #8a3ab9, #4c68d7);
  color: white;
}

.fa-twitter {
  background: linear-gradient(#55ACEE, #6db7f0);
  color: white;
}

#copyright {
  margin-bottom: 0;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #E85A4F;
}