/*
Color Palettes

Elegant Yet Approachable
#EDC7B7
#EEE2DC
#BAB2B5
#123C69
#AC3B61

Minimal Yet Warm
#EAE7DC
#D8C3A5
#8E8D8A
#E98074
#E85A4F

Vibrant and Elegant
#F8E9A1
#F76C6C
#A8D0E6
#374785
#24305E
*/
html {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

/* Navigation Bar */
.nav-bar {
  height: 225px;
  width: auto;
  background-color: #EAE7DC;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
 }
 
 .logo {
   margin: 12.5px;
   padding-left: 100px;
   height: 200px;
   width: 212.5px;
 }
 
 .name {
   font-size: 45px;
   font-weight: 1000;
   font-family: 'Montserrat', sans-serif;
   letter-spacing: 10px;
   color: #24305E;
   display: none;
 }
 
 .nav-btn-container {
   padding-right: 50px;
   height: 225px;
   width: 850px;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 
 .nav-btn-container button {
   padding: 99px 20px;
   font-size: 22px;
   font-weight: bolder;
   font-family: 'Montserrat', sans-serif;
   letter-spacing: 2px;
   color: #24305E;
   background-color: transparent;
   border: none;
   cursor: pointer;
 }
 
 .nav-btn-container span {
   display: none;
 }
 
 .nav-btn-container button:hover {
   animation-name: color-change-navbar;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;
 }
 
 .nav-btn-container button:hover span {
   display: block;
 }
 
 @keyframes color-change-navbar {
   from {
       color: #24305E;
       background-color: #EAE7DC;
   }
   to {
       color: #EAE7DC;
       background-color: #24305E;
   }
 }
 
 /* Hamburger NBC */
 .hamburger-nbc {
   margin-right: 50px;
   padding: 0px;
   display: none;
 }
 
 #hamburger-bar {
   border: none;
   cursor: pointer;
   color: #24305E;
   background-color: transparent;
   display: block;
 }
 
 .hamburger-content {
   margin-top: 652px;
   display: none;
   background-color: rgba(234, 231, 220, 0.5);
   backdrop-filter: blur(8px);
   flex-direction: column; 
 }
 
 .hamburger-content button {
   padding: 10px 120px;
   font-size: 18px;
   font-family: 'Montserrat', sans-serif;
   font-weight: bolder;
   color: #24305E;
   background-color: transparent;
   border: none;
   cursor: pointer;
 }
 
 .hamburger-content button:hover {
   color: #EAE7DC;
   background-color: rgba(36, 48, 94, 0.7);
 }
 
 .hamburger-nbc:hover .hamburger-content {
   display: flex;
 }
 /*Loginbar*/
  .align{
    margin: 0;
    padding: 0; 
  }
  .loginbar{
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    height: 100%;
    width: 35%;
    background: #11101D;
    padding: 6px 10px;
    border-radius: 0px 20px 20px 0px;
    transition: 7 ease-in-out;
    overflow: hidden; /*whb*/
  }
  
  .loginbar i{
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    word-spacing: 5px;
    cursor: pointer;
    position: static;
  }
  .loginbar i:hover {
    color: black;
    background-color: white;
    width: 70%;
    border-radius: 10px;
    transition: 7 ease-in;
  }
  .loginbar .nav-list{
    margin-top: 20px;
    height: 100%;
  }
  .loginbar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
  }
  
  .selectcont{
    background-image:linear-gradient(#ffeeda, #ffe9d0, #ffe6c9, #fcddb9) ;
    z-index: 10;
    top:  325px;
    bottom: 10%;
    left: 25%;
    height: 600px;
    width: 50%;
    position: absolute;
    padding: 6px 14px;
    box-shadow: #818181 10px 10px;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }


  .formtext {
    color: rgb(121, 90, 90);
    font-size: 120%; 
    position:absolute;
    padding: 15%;
    padding-top: 15%;
    padding-bottom: 50%;
    padding-left: 25%;
    text-align: center;
  }
  a{
    color: rgb(36, 34, 34);
    text-decoration: none;
  }
  
.container {
  width: 100%;
  height: 800px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: inherit;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(167, 37, 37, 0.2);
  padding: 12px 16px;
  top: 225px;
  z-index: 1;

}
.dropdown:hover .dropdown-content {
  font-size: 20=px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  text-align: center;
  right: 0px;

}
/*footer*/
footer {
  margin: 0px;
  width: auto;
  height: auto;
  background-color:#EDC7B7;
}

.footer-flexbox {
  margin: 25px;
  padding: 25px;
  height: auto;
  width: auto;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  flex-direction: row;
}

.footer-flexbox-item {
  margin: 10px;
  padding: 10px;
  height: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}

h3 {
  font-family:'Montserrat', sans-serif;
  font-weight:bold;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul a:visited, a:link {
  text-decoration: none;
}

li i {
  margin: 10px;
  padding-right: 5px;
}

.media a {
  margin: 10px;
}

.fa {
  padding:20px;
  font-size: 25px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.75;
  cursor:pointer;
}

.fa-facebook {
  background: linear-gradient(#3B5998, #2c59bb);
  color: white;
}

.fa-instagram {
  background: radial-gradient(at bottom left, #fccc63, #fbad50, #e95950, #e95950, #cd486b, #bc2a8d, #8a3ab9, #4c68d7);
  color: white;
}

.fa-twitter {
  background: linear-gradient(#55ACEE, #6db7f0);
  color: white;
}

#copyright {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #E85A4F;
}


/* Screen less than 1200px width */ 
@media screen and (max-width: 1200px) {
  /* Shop Name */
  .name {
      display: block;
  }
}