/*
Color Palettes

Elegant Yet Approachable
#EDC7B7
#EEE2DC
#BAB2B5
#123C69
#AC3B61

Minimal Yet Warm
#EAE7DC
#D8C3A5
#8E8D8A
#E98074
#E85A4F

Vibrant and Elegant
#F8E9A1
#F76C6C
#A8D0E6
#374785
#24305E
*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
    background-color: #8E8D8A;
}

/* Back to Top Button */
#back2top-btn {
    padding: 10px;
    display: none;
    position: fixed;
    z-index: 100;
    bottom: 20px;
    right: 20px;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #E98074;
    background-color: #24305E;
    cursor: pointer;
}

#back2top-btn:hover {
    color: #AC3B61;
}

/* Navigation Bar */
.nav-bar {
   height: 225px;
   width: auto;
   background-color: #EAE7DC;
   display: flex;
   align-content: center;
   justify-content: space-between;
   align-items: center;
}

.logo {
    margin: 12.5px;
    padding-left: 100px;
    height: 200px;
    width: 212.5px;
}

.name {
    font-size: 45px;
    font-weight: 1000;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 10px;
    color: #24305E;
    display: none;
}

.nav-btn-container {
    padding-right: 50px;
    height: 225px;
    width: 850px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-btn-container button {
    padding: 99px 20px;
    font-size: 22px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: #24305E;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-btn-container span {
    display: none;
}

.nav-btn-container button:hover {
    animation-name: color-change-navbar;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.nav-btn-container button:hover span {
    display: block;
}

@keyframes color-change-navbar {
    from {
        color: #24305E;
        background-color: #EAE7DC;
    }
    to {
        color: #EAE7DC;
        background-color: #24305E;
    }
}

/* Hamburger NBC */
.hamburger-nbc {
    margin-right: 50px;
    padding: 0px;
    display: none;
}

#hamburger-bar {
    border: none;
    cursor: pointer;
    color: #24305E;
    background-color: transparent;
    display: block;
}

.hamburger-content {
    margin-top: 652px;
    display: none;
    background-color: rgba(234, 231, 220, 0.5);
    backdrop-filter: blur(8px);
    flex-direction: column; 
}

.hamburger-content button {
    padding: 10px 120px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #24305E;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hamburger-content button:hover {
    color: #EAE7DC;
    background-color: rgba(36, 48, 94, 0.7);
}

.hamburger-nbc:hover .hamburger-content {
    display: flex;
}

/* Cat Curved Bottom Background */
.cat-background {
    top: -50px;
    width: 1520px;
    display: flex;
    position: absolute;
    opacity: 0.5;
    border-radius: 0% 0% 100% 100%;
    z-index: -5;
}

/* Title Quote */
h1 {
    font-size: 80px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    color: #AC3B61;
}

/* Category Filter */
.category-container {
    height: 100px;
    width: auto;
    margin: 450px 150px 50px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.category-container button {
    font-size: 22px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    background-color: #E98074;
    border: 5px solid #E98074;
    border-radius: 50px;
    cursor: pointer;
}

.category-container button:hover {
    animation-name: color-change-cc;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes color-change-cc {
    from {
        background-color: #E98074;
        border: 5px solid #E98074;
    }
    to {
        color: #D8C3A5;
        background-color: #E85A4F;
        border: 5px solid #E85A4F;
    }
}

/* Pet Flexboxes */
.pet-flexbox-container {
    margin: 50px;
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.pet-card {
    margin: 25px;
    padding: 25px;
    height: auto;
    width: 350px;
    background-color: #EEE2DC;
}

.furry, .feathery, .others {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
}

.pet-imagebox {
    height: auto;
    width: 350px;
    display: flex;
    justify-content: center;
}

.pet-imagebox img {
    max-width: 100%;
    border-radius: 10px;
}

.pet-descriptionbox {
    height: auto;
    width: 350px;
    display: none;
    align-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.pet-descriptionbox h2 {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.pet-descriptionbox h6 {
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.5px;
}

.pet-descriptionbox p {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
}

.pet-descriptionbox button {
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
    color: #EAE7DC;
    background-color: #24305E;
    border: none;
    cursor: pointer;
    animation-name: color-change-pdbb;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes color-change-pdbb {
    from {
        box-shadow: transparent;
    }
    to {
        box-shadow: 5px 5px #374785, -5px -5px #A8D0E6;
    }
}

.pet-card:hover .pet-descriptionbox {
    display: flex;
}

/* Footer */
.footer {
    background-color:#EDC7B7;
    padding-bottom: 5px;
    height: 500px;
}

.footer-flex-container {
    display:flex;
    width:100%;
    height:350px;
    justify-content: space-around;      
    gap:50px;
}
.footer-flex-container > div {
    width:100%;
}

.footer-content {
    font-family:'Rubik', sans-serif;
    padding:40px;
}

h3 {
    font-family:'Montserrat', sans-serif;
    font-weight:bold;
}

.contact a:visited, ul a:visited {
    color:#AC3B61;
}

.contact a:link, ul a:link {
    color:#123C69;
}

#copyright {
    font-family:'Montserrat', sans-serif;
    text-align: center;
    color:#E85A4F;
}

.fa {
    padding:20px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.6;
    cursor:pointer;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-instagram {
    background: #8f1ea5;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

ul {
    list-style-type:none;
    padding-left:0;
}

li i {
    padding-right:5px;
}

/* accountEdit Page */
.manage-account {
    background-color:inherit;
}

.accountEdit {
    margin:0 auto;
    margin-left:150px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.tab-container {
    float:left;
    width:25%;
    background-color: #F76C6C;
    height:500px;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
    box-shadow: 0px 8px 3px -3.5px rgba(0, 0, 0, 0.15);
}

.change-pfp p {
    color:white;
    text-align:center;
    cursor:pointer;
}
.change-pfp p:hover {
    text-decoration: underline;
}

#account-profile-picture {
    display: block;
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height:80px;
    width:80px;
}

.tab {
    color:white;
    width:100%;
    height:50px;
    cursor:pointer;
    text-align:center;
    padding-top:10px;
    
}

.tab:hover {
    background-color: #f88f8f;
}

.tab .active {
    background-color: white;
    color:#F76C6C;
}

.content {
    float:left;
    background-image: url('art/white_texture.png');
    width:60%;
    padding:0 30px;    
    height:500px; 
    border-bottom-right-radius:15px; 
    border-top-right-radius: 15px;
    box-shadow: 2.5px 2.5px 3px rgba(0, 0, 0, 0.15);
    display:flex;
    flex-direction: row;
    justify-items: center;
    align-items:center;
    justify-content: space-between;
}

.content > div {
    width:100%;
}

.content input[type=text], .content input[type=number] {
    width: 80%;
    border: none;
    background-color:transparent ;
    border-bottom: 2px solid #8E8D8A;
    padding:5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content textarea {
    font-family: "Rubik",sans-serif;
    width: 80%;
    height:80px;
    border: none;
    background-color:transparent ;
    border-bottom: 2px solid #8E8D8A;
    padding:5px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.content input[type=submit] {
    background-color: #E85A4F;
    color:#EAE7DC;
    width:50%;
    border-radius:5px;
    border:none;
    padding:10px;
    cursor:pointer;
}

.content input[type=submit]:hover {
    opacity: 0.8;
}

#bank-card-form {
    display:none;
}

/* Screen less than 1080px width */
@media screen and (max-width: 1080px) {
    /* Category Filter */
    .category-container {
        flex-direction: column;
    }
}

/* Screen less than 1200px width */ 
@media screen and (max-width: 1200px) {
    /* Shop Name */
    .name {
        display: block;
    }
}
