
/*
Color Palettes

Elegant Yet Approachable
#EDC7B7
#EEE2DC
#BAB2B5
#123C69
#AC3B61

Minimal Yet Warm
#EAE7DC
#D8C3A5
#8E8D8A
#E98074
#E85A4F

Vibrant and Elegant
#F8E9A1
#F76C6C
#A8D0E6
#374785
#24305E
*/


html {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    font-family: 'Rubik', sans-serif;
  }
  
  .navtext {
  letter-spacing: 2px;
  font-size: 23px;
  color: #f2f2f2;
  }
  
  #wrapper{
    width:900px;
    margin:0 auto;
  }
  .navbar {
    overflow: visible;
    background-color:#24305E;
    position: absolute;
    top: 65%;
    width: 1250px;
    }
  .logocontainer {
    background-image: url("art/banner.png");
    opacity: 0.75;
    height: 450px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .ourstorycontainer {
    background-image: url("art/ourstory.png");
    opacity: 0.75;
    height: 450px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #logincontainer {
    width:950px;
    height:525px;
    background-color:hsla(4,0%,100%,0.3);
    border-radius:25px;
    padding:15px;
  }
  
  /*searchbar*/
  .navbar a.active {
    color: #88b4cc;
  }
  .navbar  a:hover {
    background-color: #24305E;
    color: rgb(255, 255, 255);
    display: flexbox;
  
  }
  
  #sectiontitle {
    width:400px;
    height:50px;
    background-color:#E98074;
    border-radius:5px;
    padding:15px;
  }
  #descbg {
    width:auto;
    height:425px;
    background-color:#BAB2B5;
    padding:15px;
    z-index: -20;
  }
  .aboutus {
    color: #E98074;
    text-decoration: underline;
    font-size: 30px;
  
  }
  .iconformat {
    color: white; 
    font-size: 100px;
    text-align: center;;
  
  }
  .abouttextformat {
    color: #fff0a4;
    font-size: 20px;
    text-align: center;;
    text-decoration: underline;
  }
  /*overlay*/
  /*
  .container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 300px;
    height: 300px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100;
    right: 100;
    height: 300px;
    width: 300px;
    opacity: 0;
    transition: .5s ease;
    background-color: #E85A4F;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  */
  /*slideshow*/
  * {box-sizing:border-box}
  
  /* Slideshow container */
  .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
  display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
  cursor: pointer;
  position:absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
  right: 0;
  border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
  background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }
  
  @keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }
  /*This overlay with textbox text
  .container {
  position: relative;
  width: 50%;
  }
  
  .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  }
  
  .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  }
  
  .container:hover .image {
  opacity: 0.3;
  }
  
  .container:hover .middle {
  opacity: 1;
  }
  /*overlay opacity test*/
  /*
  .container {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    padding: 10px;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .servicetext {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  */
  /*make the images stay in the same line*/
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .navrow::after {
    content: "";
    margin: 0;
    padding: 0;
    display: inline;  
  }
  /*line tables side by side*/
  /* Create a two-column layout */
  .tablecolumn {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .tablerow::after {
    content: "";
    clear: both;
    display: table;
  }
  /*to top button*/
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 25px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #fff0a4; /* Set a background color */
    color: #88b4cc; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 20px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: rgb(100, 92, 92); /* Add a dark-grey background on hover */
  }
  /**/
  * {
    box-sizing: border-box;
  }
  
  .tablerow {
    margin-left:-5px;
    margin-right:-5px;
  }
    
  .tablecolumn {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .tablerow::after {
    content: "";
    clear: both;
    display: table;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  /*contact container*/
  #contact1 {
    width:750px;
    height:510px;
    background-color:#E85A4F  ;
    padding:15px;
    float: left;
    border-radius: 5%;
    opacity:0.5;
    z-index: 10;
  }
  .contactalign {
    text-align: left;
    font-size: 125%;
  }
  #contact2 {
    width:490px;
    height:510px;
    background-color:#374785;
    padding:15px;
    float: right;
    border-radius: 5%;
    opacity:0.5;
    z-index: 10;
  }
  a {
    color: white;
    text-decoration: none;
  }
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  .dropdown {
    position: static; /*was relative*/
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#070d24;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(167, 37, 37, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    font-size: 23px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: center;
  }

  /*EK Footer*/
  /*footer*/
.footer {
  background-color:#EDC7B7;
  padding-bottom: 5px;
  height: 500px;
}

.footer-flex-container{
  display:flex;
  width:100%;
  height:350px;
  justify-content: space-around;      
  gap:50px;
}
.footer-flex-container>div{
  width:100%;
  
}
.footer-content{
  font-family:'Rubik', sans-serif;
  padding:40px;
}

h3 {
  font-family:'Montserrat', sans-serif;
  font-weight:bold;
}

.contact a:visited, ul a:visited{
  color:#AC3B61;
}

.contact a:link, ul a:link{
  color:#123C69;
}

#copyright {
  font-family:'Montserrat', sans-serif;
  text-align: center;
  color:#E85A4F;
}

.fa{
  padding:20px;
  font-size: 25px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
opacity: 0.6;
cursor:pointer;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-instagram {
background: #8f1ea5;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

ul {
  list-style-type:none;
  padding-left:0;
}

li i{
  padding-right:5px;
}

/*accountEdit page*/
.manage-account{
  background-color:inherit;
}

.accountEdit{
  margin:0 auto;
  margin-left:150px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.tab-container{
  float:left;
  width:25%;
  background-color: #F76C6C;
  height:500px;
  border-top-left-radius: 15px;
  border-bottom-left-radius:15px;
  box-shadow: 0px 8px 3px -3.5px rgba(0, 0, 0, 0.15);
}

.change-pfp p{
  color:white;
  text-align:center;
  cursor:pointer;
}
.change-pfp p:hover{
  text-decoration: underline;
}

#account-profile-picture{
  display: block;
  margin-top:30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  height:80px;
  width:80px;
}

.tab{
  color:white;
  width:100%;
  height:50px;
  cursor:pointer;
  text-align:center;
  padding-top:10px;
  
}

.tab:hover{
  background-color: #f88f8f;
}

.tab .active{
  background-color: white;
  color:#F76C6C;
}

.content{
  float:left;
  background-image: url('art/white_texture.png');
  width:60%;
  padding:0 30px;    
  height:500px; 
  border-bottom-right-radius:15px; 
  border-top-right-radius: 15px;
  box-shadow: 2.5px 2.5px 3px rgba(0, 0, 0, 0.15);
  display:flex;
  flex-direction: row;
  justify-items: center;
  align-items:center;
  justify-content: space-between;
}

.content>div{
  width:100%;
}

.content input[type=text], .content input[type=number]{
  width: 80%;
  border: none;
  background-color:transparent ;
  border-bottom: 2px solid #8E8D8A;
  padding:5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content textarea{
  font-family: "Rubik",sans-serif;
  width: 80%;
  height:80px;
  border: none;
  background-color:transparent ;
  border-bottom: 2px solid #8E8D8A;
  padding:5px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.content input[type=submit]{
  background-color: #E85A4F;
  color:#EAE7DC;
  width:50%;
  border-radius:5px;
  border:none;
  padding:10px;
  cursor:pointer;
}

.content input[type=submit]:hover{
  opacity: 0.8;
}

#bank-card-form{
  display:none;
}

/* Screen less than 1200px width */ 
@media screen and (max-width: 1200px) {
  /* Shop Name */
  .name {
      display: block;
  }
}